*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #066910;
}
.flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-wrapper {
  height: 10vh;]
}
.container {
  width: 25%;
  min-width: 450px;
}
.container * {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

input,
button {
  height: 50px;
  background-color: #ffffff;
  color: #080808;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
input {
  width: 70%;
  padding: 0 20px;
  font-size: 14px;
}
button {
  width: 20%;
  float: right;
}
.outputs-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.outputs-wrapper div {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  display: grid;
  place-items: center;
  padding: 20px 0;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}
